doctype html
html
	head
		title!= title
	body
		h1!= message
		script(src="rx.all.js")
		script(src="ex_003.js")
		script(src="ex_004.js")
		script(src="ex_005.js")
		script(src="ex_006.js")
		script(src="ex_007.js")
		script(src="ex_008.js")
		script(src="ex_009.js")
		script(src="ex_010.js")
		script(src="ex_011.js")
		script(src="ex_012.js")
		script(src="ex_013.js")
		script(src="ex_014.js")
		script(src="ex_015.js")
		script(src="ex_016.js")
		script(src="ex_017.js")
		script(src="ex_018.js")
		script(src="ex_019.js")
		script(src="ex_020.js")
		script(src="ex_021.js")
		script(src="ex_022.js")
		script(src="ex_023.js")
		script(src="ex_024.js")
		script(src="ex_025.js")
		script(src="ex_026.js")
		h2.
			Powered by Express...
			Jade template engine