doctype html
html
	head
		title!= title
	body
		h1!= message
		script(src="rx.all.js")
		script(src="ex_003.js")
		script(src="ex_004.js")
		script(src="ex_005.js")
		h2.
			Powered by Express...
			Jade template engine